body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
}

.half {
    height: 50vh;
}

.main-container {
    background-image: repeating-linear-gradient(to bottom, transparent, transparent 5px, #28487d 5px, #28487d 10px),
        repeating-linear-gradient(to right, #617ca2, #617ca2 5px, #28487d 5px, #28487d 10px);
}

.top {
    background: rgb(54, 13, 82, 0.95);
}

.bottom {
    background: rgb(39, 11, 68, 0.96);
}

.button {
    width: 30vh;
    height: 10vh;
    text-align: center;
    background: #713d9b;
    position: absolute;
    color: white;
    font-size: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}


button a {
    text-decoration: none;
    color: white;
}