html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("/images/planet2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-image {
    max-width: 100%;
    max-height: 100%;
}

.button {
    min-height: 12%;
    width: 25vh;
    height: 8vh;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(91, 102, 201, 0.2);
    border: 1px solid lightblue;
    border-radius: 50px;
    font-size: auto;
    outline: none;
    transition: all 0.4s ease 0s;
}

.button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}