html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

body {
    height: 100%;
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("/images/planet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.content-holder {
    background: rgb(4, 7, 2, 0.8);
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: 30%;
    margin-bottom: 10%;
}

.content {
    margin-bottom: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bg-image {
    max-width: 50%;
    max-height: 100%;
}

.button {
    width: 25%;
    height: 20%;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    color: white;
}